<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"><title>About</title></head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments :: navBar"></header>
    <h1 class="text-center">About Deckster</h1>
    <p class="fs-5 text-break lh-base flex-grow-1 container-lg text-center">
        Deckster is an online skateboard company that creates custom skateboards for skaters who want to express their unique style and personality. Whether you want to design your own deck, choose from our wide range of graphics, or mix and match different parts, we can help you create your dream skateboard. We use high-quality materials and craftsmanship to ensure that your skateboard is durable, smooth, and fun to ride. We also offer fast and free shipping, easy returns, and excellent customer service. At Deckster, we are passionate about skateboarding, and we want to share that passion with you. Join our community of skaters and discover the joy of custom skateboards with Deckster.
    </p>
<div th:replace="fragments :: jsScripts"></div>
<div th:replace="fragments :: footer"></div>
</body>
</html>
