<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <!-- Styles CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: productModal"></div>

    <header th:replace="fragments :: navBar"></header>
<main class="flex-grow-1 container-lg">

    <hr>
    <h2>Parts</h2>
    <form th:action="@{/mainscreen}">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Filter:</span>
            <input type="text" class="form-control" name="partkeyword" id="partkeyword"  th:value="${partkeyword}" required  aria-label="Search Filter" aria-describedby="basic-addon1">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
            <button class="btn btn-outline-secondary" type="button" id="btnClearPart" onclick="clearSearch()">Clear</button>
        </div>
    </form>
    <br><br>
    <a th:href="@{/showFormAddInPart}" class="btn btn-primary btn-sm mb-3">Add In-house Part</a>
    <a th:href="@{/showFormAddOutPart}" class="btn btn-primary btn-sm mb-3">Add Outsourced Part</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPart : ${parts}">
            <td th:text="${tempPart.name}">1</td>
            <td th:text="${tempPart.price}">1</td>
            <td th:text="${tempPart.inv}">1</td>
            <td>
                <a th:href="@{/showPartFormForUpdate(partID=${tempPart.id})}" class="btn btn-warning btn-sm mb-3">Update</a>
                <a th:href="@{/deletepart(partID=${tempPart.id})}" class="btn btn-danger btn-sm mb-3"
                   onclick="if(!(confirm('Are you sure you want to delete this part?')))return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Products</h2>
    <form th:action="@{/mainscreen}">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Filter:</span>
            <input type="text" class="form-control" name="productkeyword" id="productkeyword"  th:value="${productkeyword}" required  aria-label="Search Filter" aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
            <button class="btn btn-outline-secondary" type="button" id="btnClearPart2" onclick="clearSearch()">Clear</button>
        </div>
    </form>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/}]]";
        }
    </script>
    <br><br>
    <a th:href="@{/showFormAddProduct}" class="btn btn-primary btn-sm mb-3">Add Product</a>
    <table class="table table-bordered table-striped ">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempProduct : ${products}">
            <td th:text="${tempProduct.name}">1</td>
            <td th:text="${tempProduct.price}">1</td>
            <td th:text="${tempProduct.inv}">1</td>
            <td>
                <button type="button" class="btn btn-secondary btn-sm mb-3"
                        data-bs-toggle="modal"
                        data-bs-target="#productModal"
                        th:data-id="${tempProduct.id}"    >
                    Details
                </button>
                <button type="button" class="btn btn-warning btn-sm mb-3" th:href="@{/showProductFormForUpdate(productID=${tempProduct.id})}">
                    Update
                </button>
                <a th:href="@{/deleteproduct(productID=${tempProduct.id})}" class="btn btn-danger btn-sm mb-3"
                   onclick="if(!(confirm('Are you sure you want to delete this product?')))return false">Delete</a>
                <a th:href="@{/buyproduct(productID=${tempProduct.id})}" class="btn btn-success btn-sm mb-3"
                   onclick="if(!(confirm('Press Ok to confirm and continue with your purchase!')))return false" >Buy Now!</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<div th:replace="fragments :: jsScripts"></div>
<div th:replace="fragments :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>