<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Outsourced Part Detail</h1>

<form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST"}>

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

    <label for="partName">Part Name</label>
<p><input type="text" th:field="*{name}" placeholder="Name" id="partName" class="form-control mb-4 col-4"/></p>

    <label for="price">Price</label>
<p><input type="text" th:field="*{price}" placeholder= "Price" id="price" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

    <label for="minInventory">Minimum Inventory</label>
    <p><input type="text" th:field="*{minInventory}" placeholder="Minimum Inventory" id="minInventory" class="form-control mb-4 col-4"></p>
        <p th:if="${#fields.hasErrors('minInventory')}" th:errors="*{minInventory}">Inventory Error</p>

    <label for="maxInventory">Maximum Inventory</label>
    <p><input type="text" th:field="*{maxInventory}" placeholder="Maximum Inventory" id="maxInventory" class="form-control mb-4 col-4"></p>
    <p th:if="${#fields.hasErrors('maxInventory')}" th:errors="*{maxInventory}">Inventory Error</p>

    <label for="currInventory">Current Inventory</label>
<p><input type="text" th:field="*{inv}" placeholder="Inventory" id="currInventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

    <label for="coName">Company Name</label>
    <p><input type="text" th:field="*{companyName}" id="coName" placeholder="Company Name" class="form-control mb-4 col-4"/></p>

<p><input type="submit" value="Submit" /></p>
</form>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>