<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="2;URL='showFormAddProduct'">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Styles CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Confirm Save Product</title>

</head>
<header th:replace="fragments :: navBar"></header>
<body class="d-flex flex-column min-vh-100">
<main class="flex-grow-1 container-lg">
    <hr>
<h1>Please save product before adding parts!</h1>

    <a th:href="@{/}">Link
        to Previous Screen</a>
</main>
<div th:replace="fragments :: jsScripts"></div>
<div th:replace="fragments :: footer"></div>
</body>
</html>